* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #E9E9E9;
  color: #5B5B5B;
}
.selected a {
  color: red;
}
.bingo-container {
  border: 30px solid #ffdd00;
  padding: 15px;
  background: white;
  margin-top: -52px;
  position: relative;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.box {
  height: 220px;
  border: 1px solid #ffdd00;
  padding: 15px;
  border-radius: 3px;
  position: relative;
}
.empty {
  background-color: #ffdd00;
}
.empty * {
  display: none !important;
}
.box a {
  display: block;
  color: #555;
  font-size: 1.3em;
  text-align: center;
}
.pts {
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  border: 3px solid #555;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 57px;
  font-weight: bold;
  font-size: 1.4em;
}
section {
  text-align: center;
}
.points {
  position: absolute;
  top: -75px;
  right: 5px;
  font-size: 1.8em;
}
img.logo {
  position: relative;
  z-index: 1;
}
