<!DOCTYPE html>
<html lang="fr" data-ng-app="bingoApp" data-ng-controller="bingoCtrl">
	<head>
		<meta charset="utf-8">
		<title>Afterfoot Bingo</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href="dist/css/style.css" rel="stylesheet" type="text/css">
		<script src="dist/js/main.js"></script>
	</head>
	<body>
		<header class="container">
			<ul class="left">
				<li ng-repeat="(k, v) in data.list">
					<label><input type="checkbox" ng-model="v.isVisible">{{k}}</label>
				</li>
			</ul>
			<ul class="right">
				<li>
					<a href="" ng-click="resetPoints()">Réinitialiser</a>
				</li>
				<li>Total points : {{data.points}}</li>
			</ul>
			<ul class="u-right">
				<li><a href="http://rmc.bfmtv.com/mediaplayer/live-audio/" target="_blank">RMC Live</a></li>
				<li><a href="http://rmc.bfmtv.com/mediaplayer/podcast/l-after-foot/" target="_blank">Podcast</a></li>
			</ul>
		</header>

		<div class="container">
			<section ng-repeat="(k, v) in data.list" ng-show="v.isVisible">
				<img src="dist/assets/{{v.id}}.png" alt="" class="logo">
				<div class="bingo-container">
					<div class="points">Points : {{v.points}}</div>
					<div class="row">
						<div ng-repeat="bng in v.bingo" ng-class="{'selected': bng.isSelected, 'empty': bng.isEmpty}" class="col-sm-3 col-md-2 box">
							<a href="" ng-click="select(k, $index)">
								<span>{{bng.mention}}</span>
								<span class="pts">{{bng.points}}</span>
							</a>
						</div>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>